.aboutYou {
  background-color: $backgroundAll;
  display: flex;
  justify-content: center;

  &_container h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: $letter-color-one;
    font-family: $font-one-bold;
    font-size: 20px;
  }

  &_container {
    .alert {
      color: #f62da8;
      position: absolute;
      bottom: -25px;
      left: 25px;
      font-family: $font-one;
      animation: zoomIn;
      animation-duration: 0.3s;
    }

    .alert img {
      width: 20px;
      left: -25px;
      position: absolute;
    }
    .content_steps {
      text-align: center;
      padding-top: 100px;
    }

    .circle:nth-of-type(3) {
      background: transparent;
    }

    .content_forms {
      .input {
        margin: 50px 0px;
        position: relative;
        transition: scale, 0.4s ease;
      }

      .anim_input {
        transform: scale(1.15);
        transition: scale, 0.4s ease;
      }

      .input input {
        margin-top: 10px;
        font-family: $font-one-semibold;
        transition: scale, 0.4s ease;
      }

      .input label {
        font-family: $font-one;
        position: absolute;
        bottom: 55px;
      }
    }

    .content_dropdown {
      margin: 100px 0px;
      position: relative;
      border: 2px gray solid;
      width: 100%;
      background: $background-color-inputs;
      height: $height-inputs;
      max-width: $max-width-inputs;
      font-family: $font-one-semibold;

      .img img {
        width: 7%;
        position: absolute;
        right: 10px;
        top: 18px;
        transition: rotate, 0.2s ease;
      }

      .img2 img {
        width: 7%;
        position: absolute;
        right: 10px;
        top: 13px;
        transition: rotate, 0.2s ease;
        transform: rotate(3.142rad);
      }

      .content_info_dropdown_close {
        height: 0px;
        opacity: 0;
        pointer-events: none;
      }

      .content_info_dropdown {
        height: 300px;
        opacity: 1;
        transition: height, 0.3s ease;
        position: absolute;
        width: 100%;
        background-color: $background-select-input;
      }

      .content_info_dropdown p {
        padding: 10px;
        font-family: $font-one;
        color: $color-label;
      }
    }
    .label {
      font-family: $font-one;
      position: absolute;
      bottom: 55px;
      color: $color-label;
    }

    @media (hover: hover) {
      .content_dropdown:hover {
        cursor: pointer;
      }
    }

    .label span {
      color: #f62da8;
    }

    .info-dropdown {
      padding: 15px 10px;
      color: $letter-color-one;
    }

    .info {
      font-family: $font-one;
      color: $color-label;
      position: absolute;
      padding: 10px;
    }

    .button_one {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .anim_button {
      animation: headShake;
      animation-duration: 1s;
    }
  }
}

@media (min-width: 999px) {
  .aboutYou {
    display: block;
    height: 100vh;

    &_container h1 {
      padding-top: 170px;
      text-align: center;
      padding-bottom: 50px;
      font-size: 35px;
    }

    &_container {
      .content_dropdown {
        margin: 60px 0;
      }
      .content_steps {
        position: absolute;
        right: 0;
        left: 0;
        top: -10px;
      }
      .content_forms {
        display: flex;
        justify-content: space-around;

        .button_one {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      .content_forms > * {
        width: 400px;
      }
    }
  }
}
