//---------------------Buttos--------------------------//
$max-width-buttons: 250px;
$height-buttons: 50px;
$Background-Color-button-one: transparent
  linear-gradient(99deg, #fc0441 0%, #f62da8 100%) 0% 0% no-repeat padding-box;
$Background-Color-button-two: #ffffff26 0% 0% no-repeat padding-box;
$font-size-buttons: 20px;

//---------------------LetterColors--------------------------//
$letter-color-one: white;
$letter-color-two:  #b0a4a4;

//---------------------icons--------------------------//
$color-background-icons: #ffffff26 0% 0% no-repeat padding-box;

//---------------------BackgroundColor--------------------------//
$backgroundAll: #24262b;
$backgroun-color-footer: #24262b;

//---------------------Inputs--------------------------//
$max-width-inputs: 400px;
$height-inputs: 50px;
$font-size-inputs: 20px;
$background-color-inputs: #ffffff26 0% 0% no-repeat padding-box;
$color-border-input: #747578;
$color-label: #f9f9f9;

//---------------------selecInput--------------------------//
$background-select-input: #45464b;

//---------------------fonts--------------------------//
$font-one: sans-mediun;
$font-one-bold: sans-bold;
$font-one-regular: sans-regular;
$font-one-semibold: sans-semibold;

//---------------------Steps--------------------------//
$color-border-step: white;
$background-color-step: transparent
  linear-gradient(130deg, #f62da8 0%, #fc0441 100%) 0% 0% no-repeat padding-box;
